<%= form_with model: note, url: url do |form| %>
  <% if note.errors.any? %>
    <ul>
      <% note.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  <% end %>
  <div>
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>
  <%= form.submit %>
<% end %>