
<%= form_with model: feedback do |form| %>
  <% if feedback.errors.any? %>
    <ul>
      <% feedback.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  <% end %>

  <div class="mb-3">
    <%= form.label :email, class: "form-label" %>
    <%= form.email_field :email, class:"form-control" %>
    <div class="form-text">We'll never share your email with anyone else.</div>
  </div>

  <div class="mb-3">
    <%= form.label :message, class: "form-label" %>
    <%= form.text_area :message, class:"form-control" %>
  </div>

<!--  <div class="mb-3">-->
    <%#= form.label 'Remark:', class: "form-label" %>
    <%#= form.select :remark, @remarks %>
<!--  </div>-->

  <%= form.submit "Submit", class:"btn btn-primary" %>
<% end %>