<header class="m-2 d-flex flex-row justify-content-between align-items-center">
  <h1>Feedback Dashboard</h1>
  <%= link_to 'Create New Feedback', feedbacks_new_path, class: 'btn btn-primary h-100' %>
</header>


<%#= form_tag feedbacks_path, method: "get", id: "filter_form", class: "card mb-3", data: { turbo: false } do %>
<!--  <div class="main_filter">-->
<!--    <div>-->
<!--      <p>Sort by: </p>-->
<!--      <div class="d-flex flex-row">-->
<!--        <div class="pe-2">-->
<%#= radio_button_tag :sort, :title, params[:sort] == "title" %>
<%#= label_tag "Title" %>
<!--        </div>-->
<!--        <div>-->
<%#= radio_button_tag :sort, :created_at, params[:sort] == "created_at" %>
<%#= label_tag "Recent" %>
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div>-->
<!--      <p>Category: </p>-->
<!--      <div id="category_filter" class="d-flex flex-row">-->
<%# @categories.each do |category| %>
<!--          <div class="pe-2">-->
<%#= check_box_tag category.name, "1", params[category.name.to_sym] == "1" %>
<%#= label_tag category.name %>
<!--          </div>-->
<%# end %>
<!--      </div>-->
<!--    </div>-->

<%#= submit_tag "Filter", class: "btn btn-primary" %>
<!--  </div>-->
<%# end %>


<div class="">
  <%# @feedbacks.each do |feedback| %>
  <div class="card mb-3 d-flex flex-row ">
    <table class="table table-striped table-hover table-bordered table-sm table-responsive">
      <thead>
      <tr>
        <th scope="col" class="text-center">ID</th>
        <th scope="col">From: [Email]</th>
        <th scope="col">Message</th>
        <th scope="col">Date sent</th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody class="table-group-divider">
      <% @feedbacks.each do |feedback| %>
        <tr>
          <th scope="row" class="text-center"><%= feedback.id %></th>
          <td><%= feedback.email %></td>
          <td><%= truncate(feedback.message, length: 30, separator: " ") %></td>
          <td><%= feedback.created_at %></td>
          <td>
            <div class="d-flex flex-row justify-content-center">
              <%= link_to 'Show', feedback_path(feedback), class: 'btn btn-sm btn-success me-2' %>
              <%= link_to 'Edit', edit_feedback_path(feedback), class: 'btn btn-sm btn-primary me-2' %>
              <%= button_to 'Delete', feedback_path(feedback), method: :delete, class: 'btn btn-sm btn-danger', data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
            </div>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <%# end %>
</div>





