<%= form_with model: post, data: { controller: 'location select2' } do |form| %>
  <% if post.errors.any? %>
    <ul>
      <% post.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  <% end %>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div>
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>
  <div>
    <%= form.collection_check_boxes :category_ids, Category.all, :id, :name %>
  </div>
  <div>
    <%= form.file_field :image %>
  </div>
  <div>
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>
  <div>
    <%= form.label :address_region_id %>
    <%= form.collection_select :address_region_id,
                               Address::Region.all, :id, :region_name,
                               { prompt: 'Please select region' }, class: 'select2',
                               data: { location_target: 'selectedRegionId', action: 'change->location#fetchProvinces'} %>
  </div>
  <div>
    <%= form.label :address_province_id %>
    <%= form.collection_select :address_province_id,
                               [], nil, nil,
                               { prompt: 'Please select province' }, class: 'select2',
                               data: { location_target: 'selectedProvinceId', action: 'change->location#fetchCities'} %>
  </div>
  <div>
    <%= form.label :address_city_id %>
    <%= form.collection_select :address_city_id,
                               [], nil, nil,
                               { prompt: 'Please select city' }, class: 'select2',
                               data: { location_target: 'selectedCityId', action: 'change->location#fetchBarangays'  } %>
  </div>
  <div>
    <%= form.label :address_barangay_id %>
    <%= form.collection_select :address_barangay_id,
                               [], nil, nil,
                               { prompt: 'Please select barangay' }, class: 'select2',
                               data: { location_target: 'selectedBarangayId' } %>
  </div>
  <%= form.submit %>
<% end %>